[Unit]
Description=tsaridoor

[Service]
WorkingDirectory=/home/username/tsaridoor/
ExecStart=/home/username/tsaridoor/tsaridoor

[Install]
WantedBy=multi-user.target
