[Unit]
Description=tsaridoor

[Service]
WorkingDirectory=/home/wildalmighty/tsaridoor/
ExecStart=/home/wildalmighty/tsaridoor/tsaridoor

[Install]
WantedBy=multi-user.target
